{% extends attributes.template.base|default(ag_template('base')) %}
{% import attributes.template.icons|default(ag_template('icons')) as ag_icons %}
{% block autogrid %}
    <table class="table">
        {% block autogrid_view_header %}
            {% set btnClass = attributes.html_class.thead_btn|default('btn-outline-secondary') %}
            <thead class="{{ attributes.html_class.thead|default('') }}">
            <tr>
                <td class="align-middle ps-0 pe-0" colspan="2">
                    <div class="container-fluid py-2">
                        <div class="d-flex flex-wrap align-items-center justify-content-between gap-2">
                            <div class="d-flex flex-wrap align-items-center gap-2">
                                {% block autogrid_view_header_back_button %}
                                    {% if ag_run(agIsAllowed, 'grid') %}
                                        <a class="btn btn-sm {{ btnClass }}" href="{{ ag_run(agActionUrl, 'grid') }}">
                                            {{ ag_icons.arrow_left() }}&nbsp;{{ 'f0ska.autogrid.button.back'|trans }}
                                        </a>
                                    {% endif %}
                                {% endblock %}
                            </div>
                            <div class="flex-grow-1 text-center">
                                {% block autogrid_view_header_title %}
                                    <span class="badge rounded-pill text-bg-light fw-normal px-3 py-2 border">
                                        {{ ('f0ska.autogrid.action.' ~ action)|trans }}&nbsp;{{ ag_icons.id() }}{{ entity.id }}
                                    </span>
                                {% endblock %}
                            </div>
                            <div class="d-flex flex-wrap align-items-center justify-content-end gap-2">
                                {% block autogrid_view_header_edit_button %}
                                    {% if ag_run(agIsAllowed, 'edit') and attributes.button.edit.display_in_view %}
                                        <a class="btn btn-sm btn-outline-secondary" href="{{ ag_run(agActionUrl, 'edit') }}">
                                            {{ ag_icons.edit() }}&nbsp;{{ 'f0ska.autogrid.button.modify'|trans }}
                                        </a>
                                    {% endif %}
                                {% endblock %}
                                {% block autogrid_view_header_delete_button %}
                                    {% if ag_run(agIsAllowed, 'delete') and attributes.button.delete.display_in_grid %}
                                        <a class="btn btn-sm btn-outline-danger"
                                           href="{{ ag_run(agActionUrl, 'delete', {'id': entity.id}) }}"
                                           onclick="return confirm('{{ 'f0ska.autogrid.dialog.delete_confirm'|trans }}');"
                                        >
                                            {{ ag_icons.delete() }}&nbsp;{{ 'f0ska.autogrid.button.delete'|trans }}
                                        </a>
                                    {% endif %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </thead>
        {% endblock %}

        {% block autogrid_view_body %}
            <tbody class="{{ attributes.html_class.tbody|default('table-group-divider') }}">
            {% if view.fieldset.defined %}
                <tr>
                    <td colspan="2" class="ps-0 pe-0">
                        {{ include(attributes.template.fieldset.view|default(ag_template('fieldset.view'))) }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2" class="ps-0 pe-0">
                        <div class="container-fluid py-3">
                            {% for field in fields %}
                                {% if field.permissions.view %}
                                    {% block autogrid_view_body_row %}
                                        <div class="{{ not loop.first ? 'border-top' }} py-3">
                                            {% block autogrid_view_body_row_label %}
                                                <div class="small text-secondary text-uppercase fw-semibold mb-2 letter-spacing-1">
                                                    {{ field.attributes.label|trans }}
                                                </div>
                                            {% endblock %}
                                            {% block autogrid_view_body_row_value %}
                                                <div class="text-body-emphasis lh-base">
                                                    {% set agView = field|ag_prepare(entity) %}{{ include(agView.template, agView.variables) }}
                                                </div>
                                            {% endblock %}
                                        </div>
                                    {% endblock %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </td>
                </tr>
            {% endif %}
            </tbody>
        {% endblock %}

        {% block autogrid_view_footer %}
            <tfoot class="{{ attributes.html_class.tfoot|default('table-group-divider') }}">
            <tr>
                <td colspan="2" class="ps-0 pe-0">
                    <div class="container-fluid py-2">
                        <div class="d-flex justify-content-end">
                            <div>
                                <a class="btn btn-sm {{ attributes.html_class.tfoot_btn|default('btn-outline-secondary') }}"
                                   href="#{{ attributes.container_id }}"
                                >{{ ag_icons.arrow_up() }}</a>
                        </div>
                    </div>
                </td>
            </tr>
            </tfoot>
        {% endblock %}
    </table>
{% endblock %}
