{{ form_start(form) }}
<div class="px-4 py-5 sm:px-6">
    <div class="grid gap-5 xl:grid-cols-2">
        {% for fieldset in view.fieldset.defined %}
            {% block autogrid_fieldset_form_card %}
                <div class="w-full {{ fieldset.class|default('') }}">
                    <div class="overflow-hidden rounded-xl border border-gray-200 bg-white shadow-sm">
                        {% block autogrid_fieldset_form_header %}
                            <h5 class="border-b border-gray-200 bg-gray-50 px-5 py-4 text-sm font-semibold uppercase tracking-wide text-gray-600">
                                {{ fieldset.name|trans }}
                            </h5>
                        {% endblock %}
                        {% block autogrid_fieldset_form_body %}
                            <div class="space-y-5 px-5 py-5">
                                {% for fieldName in fieldset.fields %}
                                    {% if attribute(form, fieldName) is defined %}
                                        {{ form_row(attribute(form, fieldName)) }}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}
        {% endfor %}
        {% if view.fieldset.not_defined %}
            {% block autogrid_fieldset_form_no_fieldset %}
                <div class="xl:col-span-2">
                    {% for fieldName in view.fieldset.not_defined %}
                        {% if attribute(form, fieldName) is defined %}
                            {{ form_row(attribute(form, fieldName)) }}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endblock %}
        {% endif %}
    </div>
</div>

{{ form_end(form) }}
