<div class="px-6 py-4">
    <div class="grid auto-cols-auto gap-4">
        {% for fieldset in view.fieldset.defined %}
            {% block autogrid_fieldset_view_card %}
                <div class="{{ fieldset.class|default('col-auto') }}">
                    <div class="bg-white rounded-lg shadow border border-gray-200">
                        {% block autogrid_fieldset_view_header %}
                            <h5 class="px-4 py-3 text-gray-900 font-medium bg-gray-50 rounded-t-lg border-b border-gray-200">
                                {{ fieldset.name|trans }}
                            </h5>
                        {% endblock %}
                        {% block autogrid_fieldset_view_body %}
                            <table class="w-full text-sm text-left text-gray-500 mb-0">
                                {% for fieldName in fieldset.fields %}
                                    {% set field = attribute(fields, fieldName) %}
                                    <tr class="bg-white border-b {{ loop.last ? 'border-0' : 'border-gray-200' }}">
                                        <th class="px-4 py-3 text-right text-xs text-gray-700 uppercase bg-gray-50 w-1/3">
                                            {{ field.attributes.label|trans }}
                                        </th>
                                        <td class="px-4 py-3 text-gray-900">
                                            {{ include(field.view.template) }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}
        {% endfor %}
        {% if view.fieldset.not_defined %}
            {% block autogrid_fieldset_view_no_fieldset %}
                <div class="col-span-2">
                    <table class="w-full text-sm text-left text-gray-500">
                        {% for fieldName in view.fieldset.not_defined %}
                            {% set field = attribute(fields, fieldName) %}
                            <tr class="bg-white border-b border-gray-200">
                                <th class="px-4 py-3 text-right text-xs text-gray-700 uppercase bg-gray-50 w-1/3">
                                    {{ field.attributes.label|trans }}
                                </th>
                                <td class="px-4 py-3 text-gray-900">
                                    {{ include(field.view.template) }}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endblock %}
        {% endif %}
    </div>
</div>
