{{ form_start(form) }}
<div class="container-fluid">
    <div class="row">
        {% for fieldset in view.fieldset.defined %}
            <div class="col {{ fieldset.class }}">
                <div class="card mt-3">
                    <h5 class="card-header">
                        {{ fieldset.name|trans }}
                    </h5>
                    <div class="card-body">
                        {% for fieldName in fieldset.fields %}
                            {% if attribute(form, fieldName) is defined %}
                                {{ form_row(attribute(form, fieldName)) }}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if view.fieldset.not_defined %}
            <div class="col mt-4">
                {% for fieldName in view.fieldset.not_defined %}
                    {% if attribute(form, fieldName) is defined %}
                        {{ form_row(attribute(form, fieldName)) }}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>

{{ form_end(form) }}
