<div class="container-fluid">
    <div class="row g-3">
        {% for fieldset in view.fieldset.defined %}
            {% block autogrid_fieldset_view_card %}
                <div class="col {{ fieldset.class|default('col-12') }}">
                    <section class="h-100 border rounded-3 bg-body-tertiary bg-opacity-25 px-4 py-3">
                        {% block autogrid_fieldset_view_header %}
                            <h5 class="h6 text-body fw-semibold mb-3 pb-2 border-bottom border-2">
                                {{ fieldset.name|trans }}
                            </h5>
                        {% endblock %}
                        {% block autogrid_fieldset_view_body %}
                            <div>
                                {% for fieldName in fieldset.fields %}
                                    {% set field = attribute(fields, fieldName) %}
                                    <div class="{{ not loop.first ? 'border-top' }} py-3">
                                        <div class="small text-secondary text-uppercase fw-semibold mb-2 letter-spacing-1">
                                            {{ field.attributes.label|trans }}
                                        </div>
                                        <div class="text-body-emphasis lh-base">
                                            {% set agView = field|ag_prepare(entity) %}{{ include(agView.template, agView.variables) }}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endblock %}
                    </section>
                </div>
            {% endblock %}
        {% endfor %}
        {% if view.fieldset.not_defined %}
            {% block autogrid_fieldset_view_no_fieldset %}
                <div class="col">
                    <div class="mt-2">
                        {% for fieldName in view.fieldset.not_defined %}
                            {% set field = attribute(fields, fieldName) %}
                            <div class="{{ not loop.first ? 'border-top' }} py-3">
                                <div class="small text-secondary text-uppercase fw-semibold mb-2 letter-spacing-1">
                                    {{ field.attributes.label|trans }}
                                </div>
                                <div class="text-body-emphasis lh-base">
                                    {% set agView = field|ag_prepare(entity) %}{{ include(agView.template, agView.variables) }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endblock %}
        {% endif %}
    </div>
</div>
