{% if view.massActionFormView %}
    {% block autogrid_grid_column_value_massaction %}
        <td class="px-6 py-3 {{ attributes.html_class.mass_action_column|default('text-center') }}">
            {% block autogrid_grid_column_value_massaction_checkbox %}
                <label class="inline-flex items-center">
                    <input type="checkbox"
                           autocomplete="off"
                           name="{{ field_name(view.massActionFormView.ids) }}[]"
                           class="mass-ids-{{ agId }} w-4 h-4 rounded border-gray-300 text-blue-600 focus:ring-blue-500"
                           form="{{ view.massActionFormView.vars.attr.id }}"
                           value="{{ entity.id }}"
                    >
                </label>
            {% endblock %}
        </td>
    {% endblock %}
{% endif %}
