{% block autogrid_grid_pagination %}
    <div class="inline-flex shadow-xs -space-x-px" role="group">
        {% set leftCount = 1 %}
        {% set rightCount = 1 %}
        {% set innerCount = 4 %}

        {% set firstPage = 1 %}
        {% set lastPage = (view.pagination.count / view.pagination.limit)|round(0, 'ceil') ?: 1 %}
        {% set baseBtnClass = 'cursor-pointer border border-gray-200 bg-gray-50 px-2.5 py-1 text-sm font-medium leading-5 text-gray-500 transition hover:border-gray-300 hover:bg-white hover:text-gray-800 focus:outline-none' %}
        {% set activeBtnClass = 'cursor-pointer border border-gray-200 bg-gray-100 px-2.5 py-1 text-sm font-medium leading-5 text-blue-600 focus:outline-none' %}
        {% set firstBtnClass = 'rounded-s-md' %}
        {% set lastBtnClass = 'rounded-e-md' %}

        {% if view.pagination.page <= (leftCount + innerCount) %}
            {% set leftCount = innerCount * 2 + leftCount %}
        {% endif %}

        {% if (lastPage - view.pagination.page) <= (rightCount + innerCount) %}
            {% set rightCount = innerCount * 2 + rightCount %}
        {% endif %}

        {% set gap = false %}
        {% set pageIndex = 0 %}
        {% for i in firstPage..lastPage %}
            {% set canRender = false %}
            {% set pageIndex = pageIndex + 1 %}

            {% if i >= firstPage and i <= (firstPage + leftCount - 1) %}
                {% set canRender = true %}
                {% set gap = true %}
            {% endif %}

            {% if i <= lastPage and i >= (lastPage - rightCount + 1) %}
                {% set canRender = true %}
            {% endif %}

            {% if i >= (view.pagination.page - innerCount + 1) and i <= (view.pagination.page + innerCount - 1) %}
                {% set canRender = true %}
                {% set gap = true %}
            {% endif %}

            {% if i - leftCount == 1 and i + innerCount == view.pagination.page %}
                {% set canRender = true %}
            {% endif %}

            {% if canRender %}
                {% if view.pagination.page == i %}
                    {% block autogrid_grid_pagination_page_active %}
                        <button type="button" class="{{ activeBtnClass }}{% if pageIndex == 1 %} {{ firstBtnClass }}{% endif %}{% if (lastPage > 1 and i == lastPage) %} {{ lastBtnClass }}{% endif %}">{{ i }}</button>
                    {% endblock %}
                {% else %}
                    {% block autogrid_grid_pagination_page %}
                        <button type="button"
                                onclick="window.location.href='{{ ag_run(agActionUrl, 'grid', {'page': i|ag_to_int}) }}'"
                                class="{{ baseBtnClass }}{% if pageIndex == 1 %} {{ firstBtnClass }}{% endif %}{% if (lastPage > 1 and i == lastPage) %} {{ lastBtnClass }}{% endif %}">{{ i }}</button>
                    {% endblock %}
                {% endif %}
            {% elseif gap %}
                {% set gap = false %}
                {% block autogrid_grid_pagination_gap %}
                    <span class="border border-gray-200 bg-gray-50 px-2 py-1 text-gray-400{% if pageIndex == 1 %} {{ firstBtnClass }}{% endif %}{% if i + rightCount >= lastPage %} {{ lastBtnClass }}{% endif %}">...</span>
                {% endblock %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
