{% if view.pagination.limits|length > 1 %}
    {% block autogrid_grid_limit %}
        <div class="inline-flex rounded-base shadow-xs -space-x-px" role="group">
            {% set baseBtnClass = 'text-gray-700 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-900 focus:ring-2 focus:ring-gray-200 font-medium leading-5 text-sm px-3 py-2 focus:outline-none' %}
            {% for pageLimit in view.pagination.limits %}
                {% if pageLimit == view.pagination.limit %}
                    {% block autogrid_grid_limit_active %}
                        <button type="button" class="{{ baseBtnClass }} text-blue-600 bg-blue-50 hover:bg-blue-100 hover:text-blue-600 focus:ring-2 focus:ring-blue-200{% if loop.first %} rounded-s-base{% endif %}{% if loop.last %} rounded-e-base{% endif %}">{{ pageLimit }}</button>
                    {% endblock %}
                {% else %}
                    {% block autogrid_grid_limit_button %}
                        {% set calcOffset = (view.pagination.count > view.pagination.limit ? view.pagination.limit : view.pagination.count) * (view.pagination.page - 1) + 1 %}
                        {% set toPage = (calcOffset / pageLimit)|round(0, 'ceil')|agToInt %}
                        <button type="button" 
                                onclick="window.location.href='{{ agRun(agActionUrl, 'grid', {'limit': pageLimit, 'page': toPage}) }}'"
                                class="{{ baseBtnClass }}{% if loop.first %} rounded-s-base{% endif %}{% if loop.last %} rounded-e-base{% endif %}">{{ pageLimit }}</button>
                    {% endblock %}
                {% endif %}
            {% endfor %}
        </div>
    {% endblock %}
{% endif %}
