{% extends attributes.template.base|default(ag_template('base')) %}
{% import attributes.template.icons|default(ag_template('icons')) as ag_icons %}
{% block autogrid %}
    {{ include(attributes.template.grid.advanced_filter|default(ag_template('grid.advanced_filter'))) }}
    {% set columnsCount = (fields|length) + (ag_run(agIsAnyAllowed) ? 1 : 0) + (view.massActionFormView ? 1 : 0) %}
    <table class="table {{ attributes.html_class.table|default('table-hover') }}">
        {{ include(attributes.template.grid.colgroup|default(ag_template('grid.colgroup'))) }}

        {% block autogrid_grid_header %}
            <thead class="{{ attributes.html_class.thead|default('') }}">
            <tr>
                {{ include(attributes.template.grid.column_header_massaction|default(ag_template('grid.column_header_massaction'))) }}
                {% for field in fields %}
                    {{ include(attributes.template.grid.column_header|default(ag_template('grid.column_header'))) }}
                {% endfor %}
                {{ include(attributes.template.grid.column_header_action|default(ag_template('grid.column_header_action'))) }}
            </tr>
            </thead>
        {% endblock %}

        {% block autogrid_grid_footer %}
            <tfoot class="{{ attributes.html_class.tfoot|default('border-top') }}">
            <tr>
                <td colspan="{{ columnsCount }}" class="pl-0 pr-0">
                    <div class="container-fluid py-2">
                        <div class="d-flex flex-wrap align-items-center justify-content-between">
                            <div class="small text-muted font-weight-bold mr-3 mb-2 mb-md-0">
                                {{ 'f0ska.autogrid.total'|trans }}: <span class="text-dark">{{ view.pagination.count }}</span>
                            </div>
                            <div class="d-flex justify-content-center flex-grow-1 mb-2 mb-md-0">
                                {{ include(attributes.template.grid.grid_pagination|default(ag_template('grid.grid_pagination'))) }}
                            </div>
                            <div class="d-flex align-items-center justify-content-end ml-md-3">
                                {{ include(attributes.template.grid.grid_number_per_page|default(ag_template('grid.grid_number_per_page'))) }}
                                <a class="btn btn-sm {{ attributes.html_class.tfoot_btn|default('btn-outline-secondary') }}"
                                   href="#{{ attributes.container_id }}" style="margin-left: .5rem;"
                                >{{ ag_icons.arrow_up() }}</a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tfoot>
        {% endblock %}

        {% block autogrid_grid_body %}
            <tbody class="{{ attributes.html_class.tbody|default('') }}">
            {% if rows is empty %}
                {% block autogrid_grid_body_empty %}
                    <tr>
                        <td class="text-muted" colspan="{{ columnsCount }}">
                            <div class="py-4 text-center small">{{ 'f0ska.autogrid.empty'|trans }}</div>
                        </td>
                    </tr>
                {% endblock %}
            {% endif %}
            {% for entity in rows %}
                {% block autogrid_grid_row %}
                    <tr class="{{ include(attributes.template.grid.row_class|default(ag_template('grid.row_class'))) }}">
                        {{ include(attributes.template.grid.column_value_massaction|default(ag_template('grid.column_value_massaction'))) }}
                        {% for field in fields %}
                            {{ include(attributes.template.grid.column_value|default(ag_template('grid.column_value'))) }}
                        {% endfor %}
                        {{ include(attributes.template.grid.column_value_action|default(ag_template('grid.column_value_action'))) }}
                    </tr>
                {% endblock %}
            {% endfor %}
            </tbody>
        {% endblock %}
    </table>
{% endblock %}
