<div id="{{ attributes.container_id }}" class="{{ attributes.container_class }} instance-{{ agId }}">
    {% block autogrid_header %}
        {% if attributes.chrome.title and attributes.title is not empty %}
            <div class="has-text-centered has-text-grey mb-5">
                <p class="is-size-4">{{ attributes.title|trans }}</p>
            </div>
        {% endif %}
    {% endblock %}
    {% block autogrid_before %}
        {% set autogridBeforeTemplate = attributes.template.before ?? null %}
        {% if autogridBeforeTemplate is not empty %}
            {{ include(autogridBeforeTemplate) }}
        {% endif %}
    {% endblock %}
    {% block autogrid %}{% endblock %}
    {% block autogrid_delete_form %}
        {% if view.deleteActionFormView %}
            {{ form_start(view.deleteActionFormView) }}
                {{ form_widget(view.deleteActionFormView._token) }}
            {{ form_end(view.deleteActionFormView, { render_rest: false }) }}
        {% endif %}
    {% endblock %}
    {% block autogrid_after %}
        {% set autogridAfterTemplate = attributes.template.after ?? null %}
        {% if autogridAfterTemplate is not empty %}
            {{ include(autogridAfterTemplate) }}
        {% endif %}
    {% endblock %}
</div>
<script>
    document.addEventListener('click', function(e) {
        if (!e.target.closest('.dropdown')) {
            document.querySelectorAll('.dropdown.is-active').forEach(d => d.classList.remove('is-active'));
        }
    });
</script>
