{% if (agRun(agIsAnyAllowed)) or attributes.has_custom_action is defined %}
    {% set btnClass = attributes.html_class.thead_btn|default('is-small') %}
    {% set btnClassActive = attributes.html_class.thead_btn_active|default('is-primary') %}
    <th class="{{ attributes.html_class.action_column_header|default('has-text-right') }}">
        <div class="buttons is-right are-small">
            {% block autogrid_grid_header_action_clear_filter %}
                {% if request.filter is defined and agRun(agIsAllowed, 'filter') %}
                    <a class="button is-danger is-light" href="{{ agRun(agActionUrl, 'grid', {'filter': null}) }}">
                        <i class="bi bi-x-lg"></i>
                    </a>
                {% endif %}
            {% endblock %}
            {% block autogrid_grid_header_action_advanced_filter %}
                {% if view.advancedFilterFormView and agRun(agIsAllowed, 'advanced_filter') %}
                    <a class="button {{ request.filter is defined ? btnClassActive : 'is-info is-light' }}"
                       data-target="adv{{ agId }}"
                       onclick="document.getElementById('adv{{ agId }}').classList.add('is-active');"
                    ><i class="bi bi-search"></i></a>
                {% endif %}
            {% endblock %}
            {% block autogrid_grid_header_action_export %}
                {% if view.exportActionFormView and view.pagination.count %}
                    <div class="dropdown is-hoverable is-right">
                        <div class="dropdown-trigger">
                            <button class="button is-info is-light" aria-haspopup="true">
                                <i class="bi bi-download"></i>
                            </button>
                        </div>
                        <div class="dropdown-menu" role="menu">
                            <div class="dropdown-content">
                                {% for label,code in view.exportActionChoices %}
                                    <button
                                        class="dropdown-item"
                                        type="submit"
                                        form="{{ view.exportActionFormView.vars.attr.id }}"
                                        name="{{ field_name(view.exportActionFormView.code) }}"
                                        value="{{ code }}"
                                    >{{ label|trans }}</button>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {{ form(view.exportActionFormView) }}
                {% endif %}
            {% endblock %}
        </div>

        {% block autogrid_grid_header_action_create %}
            {% if (agRun(agIsAllowed, 'create')) %}
                <a class="button is-success is-small" href="{{ agRun(agActionUrl, 'create') }}">
                    <i class="bi bi-plus-lg"></i>
                </a>
            {% endif %}
        {% endblock %}

        {% block autogrid_grid_header_custom_action %}{% endblock %}
    </th>
{% endif %}
