{% if view.pagination.limits|length > 1 %}
    {% set btnClass = attributes.html_class.tfoot_btn|default('is-small') %}
    {% block autogrid_grid_limit %}
        <div class="buttons has-addons are-small ml-2">
            {% for pageLimit in view.pagination.limits %}
                {% if pageLimit == view.pagination.limit %}
                    {% block autogrid_grid_limit_active %}
                        <span class="button {{ btnClass }} is-static">{{ pageLimit }}</span>
                    {% endblock %}
                {% else %}
                    {% block autogrid_grid_limit_button %}
                        {% set calcOffset = (view.pagination.count > view.pagination.limit ? view.pagination.limit : view.pagination.count) * (view.pagination.page - 1) + 1 %}
                        {% set toPage = (calcOffset / pageLimit)|round(0, 'ceil')|agToInt %}
                        <a class="button {{ btnClass }}"
                           href="{{ agRun(agActionUrl, 'grid', {'limit': pageLimit, 'page': toPage}) }}">{{ pageLimit }}</a>
                    {% endblock %}
                {% endif %}
            {% endfor %}
        </div>
    {% endblock %}
{% endif %}
