{% if view.searchFormView and ag_run(agIsGranted, 'search') %}
    {% if view.formThemes is not empty %}
        {% form_theme view.searchFormView with view.formThemes %}
    {% endif %}
    {{ form_start(view.searchFormView, {'attr': {'class': 'field has-addons mb-4'}}) }}
        <div class="control is-expanded">
            {{ form_widget(view.searchFormView.term, {'attr': {'class': 'input', 'placeholder': 'f0ska.autogrid.placeholder.search'|trans}}) }}
        </div>
        <div class="control">
            <button class="button is-primary" type="submit">
                {{- 'f0ska.autogrid.button.submit'|trans -}}
            </button>
        </div>
        <div class="control">
            <a class="button is-light {% if request.search is not defined %}is-static{% endif %}"
               href="{{ ag_run(agActionUrl, 'grid', {'search': null, 'page': null}) }}"
            >
                {{- 'f0ska.autogrid.button.reset'|trans -}}
            </a>
        </div>
    {{ form_end(view.searchFormView) }}
{% endif %}
