{% extends attributes.template.base|default(ag_template('base')) %}
{% import attributes.template.icons|default(ag_template('icons')) as ag_icons %}
{% block autogrid %}
    <div class="{{ attributes.html_class.table|default('') }}">
        {% block autogrid_view_header %}
            {% if attributes.chrome.view_header %}
            {% set btnClass = attributes.html_class.thead_btn|default('is-small') %}
            <div class="{{ attributes.html_class.thead|default('level mb-5') }}">
                <div class="level-left">
                    <div class="level-item">
                        <div class="buttons are-small mb-0">
                            {% block autogrid_view_header_back_button %}
                                {% if ag_run(agIsAllowed, 'grid') %}
                                    <a class="button {{ btnClass }}" href="{{ ag_run(agActionUrl, 'grid') }}">
                                        {{ ag_icons.arrow_left() }}&nbsp;{{ 'f0ska.autogrid.button.back'|trans }}
                                    </a>
                                {% endif %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
                <div class="level-item">
                    {% block autogrid_view_header_title %}
                        <span class="tag is-light is-medium">
                            {{ ('f0ska.autogrid.action.' ~ action)|trans }}&nbsp;{{ ag_icons.id() }}{{ entity.id }}
                        </span>
                    {% endblock %}
                </div>
                <div class="level-right">
                    <div class="level-item">
                        <div class="buttons are-small mb-0">
                            {% block autogrid_view_header_edit_button %}
                                {% if ag_run(agIsAllowed, 'edit') and attributes.button.edit.display_in_view %}
                                    <a class="button is-info {{ btnClass }}" href="{{ ag_run(agActionUrl, 'edit') }}">
                                        {{ ag_icons.edit() }}&nbsp;{{ 'f0ska.autogrid.button.modify'|trans }}
                                    </a>
                                {% endif %}
                            {% endblock %}
                            {% block autogrid_view_header_delete_button %}
                                {% if ag_run(agIsAllowed, 'delete') and attributes.button.delete.display_in_grid and view.deleteActionFormView %}
                                    <button class="button is-danger {{ btnClass }}"
                                       type="submit"
                                       form="{{ view.deleteActionFormView.vars.attr.id }}"
                                       {% if attributes.route.delete is defined %}formaction="{{ ag_run(agActionUrl, 'delete', {'id': entity.id}) }}"{% endif %}
                                       name="{{ view.deleteActionFormView.id.vars.full_name }}"
                                       value="{{ entity.id }}"
                                       onclick="return confirm('{{ 'f0ska.autogrid.dialog.delete_confirm'|trans }}');"
                                    >
                                        {{ ag_icons.delete() }}&nbsp;{{ 'f0ska.autogrid.button.delete'|trans }}
                                    </button>
                                {% endif %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endblock %}

        {% block autogrid_view_body %}
            <div class="{{ attributes.html_class.tbody|default('') }}">
                {% if view.fieldset.defined %}
                    {{ include(attributes.template.fieldset.view|default(ag_template('fieldset.view'))) }}
                {% else %}
                    <div class="box">
                        {% for field in fields %}
                            {% if field.permissions.view %}
                                {% block autogrid_view_body_row %}
                                    <div class="{{ not loop.first ? 'pt-4 mt-4 has-border-top' : '' }}">
                                        {% block autogrid_view_body_row_label %}
                                            <div class="is-size-7 has-text-weight-semibold has-text-grey is-uppercase mb-2" style="letter-spacing: .06em;">
                                                {{ field.attributes.label|trans }}
                                            </div>
                                        {% endblock %}
                                        {% block autogrid_view_body_row_value %}
                                            <div class="has-text-dark" style="line-height: 1.6;">
                                                {% set agView = field|ag_prepare(entity) %}{{ include(agView.template, agView.variables) }}
                                            </div>
                                        {% endblock %}
                                    </div>
                                {% endblock %}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endblock %}

        {% block autogrid_view_footer %}
            {% if attributes.chrome.scroll_top %}
            <div class="{{ attributes.html_class.tfoot|default('is-flex is-justify-content-flex-end') }}">
                <a class="{{ attributes.html_class.tfoot_btn|default('button is-small') }}"
                   href="#{{ attributes.container_id }}"
                  >{{ ag_icons.arrow_up() }}</a>
            </div>
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}
