{% extends attributes.template.base|default(ag_template('base')) %}
{% import attributes.template.icons|default(ag_template('icons')) as ag_icons %}
{% block autogrid %}
    <div class="{{ attributes.html_class.table|default('') }}">
        {% block autogrid_form_header %}
            {% set btnClass = attributes.html_class.thead_btn|default('button') %}
            <div class="{{ attributes.html_class.thead|default('margin-bottom-2') }}">
                <table style="width: 100%; border-collapse: collapse; table-layout: fixed;">
                    <tr>
                        <td style="width: 33.333%; text-align: left; vertical-align: middle;">
                            <div class="button-group small" style="margin-bottom: 0;">
                        {% block autogrid_form_header_back_button %}
                            {% if ag_run(agIsAllowed, 'grid') %}
                                <a class="{{ btnClass }}" href="{{ ag_run(agActionUrl, 'grid') }}">
                                    {{ ag_icons.arrow_left() }}&nbsp;{{ 'f0ska.autogrid.button.back'|trans }}
                                </a>
                            {% endif %}
                        {% endblock %}
                        {% block autogrid_form_header_view_button %}
                            {% if action is not same as 'create' and ag_run(agIsAllowed, 'view') and attributes.button.view.display_in_edit %}
                                <a class="{{ btnClass }}"
                                   href="{{ ag_run(agActionUrl, 'view', {'id': entity.id}) }}"
                                >
                                    {{ ag_icons.view() }}&nbsp;{{ 'f0ska.autogrid.button.view'|trans }}
                                </a>
                            {% endif %}
                        {% endblock %}
                            </div>
                        </td>
                        <td style="width: 33.333%; text-align: center; vertical-align: middle; padding-left: .75rem; padding-right: .75rem;">
                            {% block autogrid_form_header_title %}
                                <span class="label secondary" style="font-size: .875rem; line-height: 1.2; padding: .65em .8em;">
                                    {{ ('f0ska.autogrid.action.' ~ action)|trans }}
                                    {% if action is not same as 'create' %}
                                        &nbsp;{{ ag_icons.id() }}{{ entity.id }}
                                    {% endif %}
                                </span>
                            {% endblock %}
                        </td>
                        <td style="width: 33.333%; text-align: right; vertical-align: middle;">
                            <div class="button-group small align-right" style="margin-bottom: 0;">
                        {% block autogrid_form_header_submit_button %}
                            <button class="{{ btnClass }}" type="submit"
                                    form="{{ form.vars.attr.id }}">
                                {{ ag_icons.save() }}&nbsp;{{ 'f0ska.autogrid.button.submit'|trans }}
                            </button>
                        {% endblock %}
                        {% block autogrid_form_header_delete_button %}
                            {% if action is not same as 'create' and ag_run(agIsAllowed, 'delete') and attributes.button.delete.display_in_edit %}
                                <a class="button alert"
                                   href="{{ ag_run(agActionUrl, 'delete', {'id': entity.id}) }}"
                                   onclick="return confirm('{{ 'f0ska.autogrid.dialog.delete_confirm'|trans }}');"
                                >
                                    {{ ag_icons.delete() }}&nbsp;{{ 'f0ska.autogrid.button.delete'|trans }}
                                </a>
                            {% endif %}
                        {% endblock %}
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        {% endblock %}

        {% block autogrid_form_body %}
            <div class="{{ attributes.html_class.tbody|default('') }}">
                {% block autogrid_form_form %}
                    {% if view.formThemes is not empty %}
                        {% form_theme form with view.formThemes %}
                    {% endif %}
                    {% if view.fieldset.defined %}
                        {{ include(attributes.template.fieldset.form|default(ag_template('fieldset.form'))) }}
                    {% else %}
                        <div class="callout secondary">
                            {{ form(form) }}
                        </div>
                    {% endif %}
                {% endblock %}
            </div>
        {% endblock %}

        {% block autogrid_form_footer %}
            <div class="{{ attributes.html_class.tfoot|default('grid-x grid-padding-x') }}">
                <div class="cell text-right">
                    <a class="{{ attributes.html_class.tfoot_btn|default('button') }}"
                       href="#{{ attributes.container_id }}"
                    >{{ ag_icons.arrow_up() }}</a>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}
