{% extends attributes.template.base|default(agTemplate('base')) %}
{% block autogrid %}
    {{ include(attributes.template.grid.advanced_filter|default(agTemplate('grid.advanced_filter'))) }}
    {% set columnsCount = (fields|length) + (agRun(agIsAnyAllowed) ? 1 : 0) + (view.massActionFormView ? 1 : 0) %}
    <div class="{{ attributes.html_class.table|default('grid-container') }}">
        {% block autogrid_grid_caption %}
            {% if attributes.title is not empty %}
                <div class="text-center text-secondary h4 mb-3">
                    {{ attributes.title|trans }}
                </div>
            {% endif %}
        {% endblock %}

        {% block autogrid_grid_header %}
            <table class="{{ attributes.html_class.table|default('hover') }}">
                <thead class="{{ attributes.html_class.thead|default('') }}">
                    <tr>
                        {{ include(attributes.template.grid.column_header_massaction|default(agTemplate('grid.column_header_massaction'))) }}
                        {% for field in fields %}
                            {{ include(attributes.template.grid.column_header|default(agTemplate('grid.column_header'))) }}
                        {% endfor %}
                        {{ include(attributes.template.grid.column_header_action|default(agTemplate('grid.column_header_action'))) }}
                    </tr>
                </thead>
        {% endblock %}

        {% block autogrid_grid_body %}
                <tbody class="{{ attributes.html_class.tbody|default('') }}">
                {% if rows is empty %}
                    {% block autogrid_grid_body_empty %}
                        <tr>
                            <td class="text-gray-500 text-center p-3" colspan="{{ columnsCount }}">
                                {{ 'f0ska.autogrid.empty'|trans }}
                            </td>
                        </tr>
                    {% endblock %}
                {% endif %}
                {% for entity in rows %}
                    {% block autogrid_grid_row %}
                        <tr class="{{ include(attributes.template.grid.row_class|default(agTemplate('grid.row_class'))) }}">
                            {{ include(attributes.template.grid.column_value_massaction|default(agTemplate('grid.column_value_massaction'))) }}
                            {% for field in fields %}
                                {{ include(attributes.template.grid.column_value|default(agTemplate('grid.column_value'))) }}
                            {% endfor %}
                            {{ include(attributes.template.grid.column_value_action|default(agTemplate('grid.column_value_action'))) }}
                        </tr>
                    {% endblock %}
                {% endfor %}
                </tbody>
            </table>
        {% endblock %}

        {% block autogrid_grid_footer %}
            <div class="{{ attributes.html_class.tfoot|default('grid-x grid-padding-x align-middle') }}" style="align-items: center;">
                <div class="cell small-4 text-left">
                    <b>{{ 'f0ska.autogrid.total'|trans }}: {{ view.pagination.count }}</b>
                </div>
                <div class="cell small-4 text-center">
                    {{ include(attributes.template.grid.grid_pagination|default(agTemplate('grid.grid_pagination'))) }}
                </div>
                <div class="cell small-4 text-right">
                    {{ include(attributes.template.grid.grid_number_per_page|default(agTemplate('grid.grid_number_per_page'))) }}
                    <a class="{{ attributes.html_class.tfoot_btn|default('button small') }}"
                       href="#{{ attributes.container_id }}"
                    ><i class="bi bi-chevron-up"></i></a>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}
