{% extends attributes.template.base|default(ag_template('base')) %}
{% import attributes.template.icons|default(ag_template('icons')) as ag_icons %}
{% block autogrid %}
    <div class="{{ attributes.html_class.table|default('') }}">
        {% block autogrid_view_header %}
            {% set btnClass = attributes.html_class.thead_btn|default('button') %}
            <div class="{{ attributes.html_class.thead|default('margin-bottom-2') }}">
                <table style="width: 100%; border-collapse: collapse; table-layout: fixed;">
                    <tr>
                        <td style="width: 33.333%; text-align: left; vertical-align: middle;">
                            <div class="button-group small" style="margin-bottom: 0;">
                        {% block autogrid_view_header_back_button %}
                            {% if ag_run(agIsAllowed, 'grid') %}
                                <a class="{{ btnClass }}" href="{{ ag_run(agActionUrl, 'grid') }}">
                                    {{ ag_icons.arrow_left() }}&nbsp;{{ 'f0ska.autogrid.button.back'|trans }}
                                </a>
                            {% endif %}
                        {% endblock %}
                            </div>
                        </td>
                        <td style="width: 33.333%; text-align: center; vertical-align: middle; padding-left: .75rem; padding-right: .75rem;">
                            {% block autogrid_view_header_title %}
                                <span class="label secondary" style="font-size: .875rem; line-height: 1.2; padding: .65em .8em;">
                                    {{ ('f0ska.autogrid.action.' ~ action)|trans }}&nbsp;{{ ag_icons.id() }}{{ entity.id }}
                                </span>
                            {% endblock %}
                        </td>
                        <td style="width: 33.333%; text-align: right; vertical-align: middle;">
                            <div class="button-group small align-right" style="margin-bottom: 0;">
                        {% block autogrid_view_header_edit_button %}
                            {% if ag_run(agIsAllowed, 'edit') and attributes.button.edit.display_in_view %}
                                <a class="{{ btnClass }}" href="{{ ag_run(agActionUrl, 'edit') }}">
                                    {{ ag_icons.edit() }}&nbsp;{{ 'f0ska.autogrid.button.modify'|trans }}
                                </a>
                            {% endif %}
                        {% endblock %}
                        {% block autogrid_view_header_delete_button %}
                            {% if ag_run(agIsAllowed, 'delete') and attributes.button.delete.display_in_grid %}
                                <a class="button alert"
                                   href="{{ ag_run(agActionUrl, 'delete', {'id': entity.id}) }}"
                                   onclick="return confirm('{{ 'f0ska.autogrid.dialog.delete_confirm'|trans }}');"
                                >
                                    {{ ag_icons.delete() }}&nbsp;{{ 'f0ska.autogrid.button.delete'|trans }}
                                </a>
                            {% endif %}
                        {% endblock %}
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        {% endblock %}

        {% block autogrid_view_body %}
            <div class="{{ attributes.html_class.tbody|default('') }}">
                {% if view.fieldset.defined %}
                    {{ include(attributes.template.fieldset.view|default(ag_template('fieldset.view'))) }}
                {% else %}
                    <div class="callout secondary">
                        {% for field in fields %}
                            {% if field.permissions.view %}
                                {% block autogrid_view_body_row %}
                                    <div class="{{ not loop.first ? 'padding-top-1 margin-top-1 border-top' : '' }}" style="{{ not loop.last ? 'padding-bottom: 1rem;' : '' }}">
                                        {% block autogrid_view_body_row_label %}
                                            <div class="text-uppercase text-gray-600" style="font-size: .75rem; font-weight: 700; letter-spacing: .06em; margin-bottom: .5rem;">
                                                {{ field.attributes.label|trans }}
                                            </div>
                                        {% endblock %}
                                        {% block autogrid_view_body_row_value %}
                                            <div style="line-height: 1.6;">
                                                {% set agView = field|ag_prepare(entity) %}{{ include(agView.template, agView.variables) }}
                                            </div>
                                        {% endblock %}
                                    </div>
                                {% endblock %}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endblock %}

        {% block autogrid_view_footer %}
            <div class="{{ attributes.html_class.tfoot|default('grid-x grid-padding-x') }}">
                <div class="cell text-right">
                    <a class="{{ attributes.html_class.tfoot_btn|default('button') }}"
                       href="#{{ attributes.container_id }}"
                    >{{ ag_icons.arrow_up() }}</a>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}
