{% if view.massActionFormView %}
    {% block autogrid_grid_column_value_massaction %}
        <td class="{{ attributes.html_class.mass_action_column|default('text-center') }}">
            {% block autogrid_grid_column_value_massaction_checkbox %}
                <label>
                    <input type="checkbox"
                           autocomplete="off"
                           name="{{ field_name(view.massActionFormView.ids) }}[]"
                           class="mass-ids-{{ agId }}"
                           form="{{ view.massActionFormView.vars.attr.id }}"
                           value="{{ entity.id }}"
                           style="margin-bottom: 0;"
                    >
                </label>
            {% endblock %}
        </td>
    {% endblock %}
{% endif %}
