{% set isFilterActive = (attribute(request.filter ?? {}, field.name) is defined) and attribute(request.filter, field.name) is not same as null %}
{% set linkClass = attributes.html_class.thead_link|default('text-secondary') %}
{% set linkClassActive = attributes.html_class.thead_link_active|default('text-primary') %}
{% block autogrid_grid_column_header_filter %}
    <span class="dropdown-pane" id="filter{{ agId }}{{ field.name }}" data-dropdown data-auto-focus="true">
        {% block autogrid_grid_column_header_filter_icon %}
            <a class="{{ isFilterActive ? linkClassActive : linkClass }}"
               role="button"
               aria-expanded="false"
            ><small><i class="bi bi-funnel{{ isFilterActive ? '-fill' }}"></i></small></a>
        {% endblock %}
        {% block autogrid_grid_column_header_filter_dropdown %}
            {% set form = attribute(view.filterFormViews, field.name) %}
            {% if view.formThemes is not empty %}
                {% form_theme form with view.formThemes %}
            {% endif %}
            {{ form_start(form) }}
            {% block autogrid_grid_column_header_filter_form_fields %}
                {% if field.attributes.range_filter is defined %}
                    {% for searchField in attribute(form, field.name).children %}
                        {{ form_widget(searchField, {'attr': {'placeholder': field_label(searchField)}}) }}
                        {{ loop.first ? '<div class="mb-2"></div>' }}
                    {% endfor %}
                {% else %}
                    {{ form_widget(attribute(form, field.name)) }}
                {% endif %}
            {% endblock %}
            {{ form_rest(form) }}
            {{ form_end(form) }}
            {% block autogrid_grid_column_header_filter_buttons %}
                <div class="grid-x grid-margin-x mt-2">
                    <div class="cell small-6">
                        <button type="submit"
                                form="{{ form.vars.attr.id }}"
                                class="button small expanded"
                        >
                            {{- 'f0ska.autogrid.button.submit'|trans -}}
                        </button>
                    </div>
                    <div class="cell small-6">
                        <a class="button small secondary expanded {% if not isFilterActive %}disabled{% endif %}"
                           href="{{ agRun(agActionUrl, 'grid', {'filter': {(field.name): null}}) }}"
                        >
                            {{- 'f0ska.autogrid.button.reset'|trans -}}
                        </a>
                    </div>
                </div>
            {% endblock %}
        {% endblock %}
    </span>
{% endblock %}
