{% if view.searchFormView and ag_run(agIsGranted, 'search') %}
    {% if view.formThemes is not empty %}
        {% form_theme view.searchFormView with view.formThemes %}
    {% endif %}
    <style>
        .autogrid-foundation-search-reset {
            align-items: center;
            display: flex;
        }
    </style>
    {{ form_start(view.searchFormView, {'attr': {'class': 'input-group'}}) }}
        {{ form_widget(view.searchFormView.term, {'attr': {'class': 'input-group-field', 'placeholder': 'f0ska.autogrid.placeholder.search'|trans}}) }}
        <div class="input-group-button">
            <button class="button primary" type="submit">
                {{- 'f0ska.autogrid.button.submit'|trans -}}
            </button>
        </div>
        <div class="input-group-button">
            <a class="button secondary autogrid-foundation-search-reset {% if request.search is not defined %}disabled{% endif %}"
               href="{{ ag_run(agActionUrl, 'grid', {'search': null, 'page': null}) }}"
            >
                {{- 'f0ska.autogrid.button.reset'|trans -}}
            </a>
        </div>
    {{ form_end(view.searchFormView) }}
{% endif %}
