{% if view.massActionFormView %}
    <td class="{{ field.attributes.column_value_class|default('align-middle text-center') }}">
        <label class="w-100">
            <input type="checkbox"
                   autocomplete="off"
                   name="{{ field_name(view.massActionFormView.ids) }}[]"
                   class="mass-ids-{{ agId }}"
                   form="{{ view.massActionFormView.vars.attr.id }}"
                   value="{{ entity.id }}"
            >
        </label>
    </td>
{% endif %}
