{% if agRun(agIsAnyAllowed) or attributes.has_custom_action is defined %}
    {% set btnClass = attributes.html_class.tbody_btn|default('btn-outline-secondary') %}
    <td class="{{ attributes.html_class.action_column|default('text-end text-nowrap pt-0 pb-0 align-middle') }}">
        <div class="btn-group" role="group">
            {% if agRun(agIsAllowed, 'view') and attributes.button.view.display_in_grid %}
                <a class="btn {{ btnClass }} btn-sm"
                   href="{{ agRun(agActionUrl, 'view', {'id': entity.id}) }}"
                ><i class="bi bi-eye"></i></a>
            {% endif %}
            {% if agRun(agIsAllowed, 'edit') and attributes.button.edit.display_in_grid %}
                <a class="btn {{ btnClass }} btn-sm"
                   href="{{ agRun(agActionUrl, 'edit', {'id': entity.id}) }}"
                ><i class="bi bi-pencil-square"></i></a>
            {% endif %}
            {% if agRun(agIsAllowed, 'delete') and attributes.button.delete.display_in_grid %}
                <a class="btn {{ btnClass }} btn-sm"
                   href="{{ agRun(agActionUrl, 'delete', {'id': entity.id}) }}"
                   onclick="return confirm('{{ 'f0ska.autogrid.dialog.delete_confirm'|trans }}');"
                ><i class="bi bi-trash"></i></a>
            {% endif %}
            {% block autogrid_grid_row_custom_action %}{% endblock %}
        </div>
    </td>
{% endif %}
