{% if view.massActionFormView %}
    {% set btnClass = attributes.html_class.thead_btn|default('btn-outline-secondary') %}
    <th class="{{ attributes.html_class.mass_action_column_header|default('align-middle') }}">
        {{ form_start(view.massActionFormView) }}
        <div class="input-group">
            <button type="button"
                    class="btn btn-sm {{ btnClass }} dropdown-toggle"
                    data-bs-toggle="dropdown"
                    data-bs-auto-close="outside"
                    aria-expanded="false"
            ></button>
            <ul class="dropdown-menu dropdown-menu-end">
                {% for label,code in view.massActionChoices %}
                    <li>
                        <button
                            class="dropdown-item"
                            type="submit"
                            form="{{ view.massActionFormView.vars.attr.id }}"
                            name="{{ field_name(view.massActionFormView.code) }}"
                            value="{{ code }}"
                        >{{ label|trans }}</button>
                    </li>
                {% endfor %}
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <label class="form-check-label dropdown-item">
                        <input class="form-check-input me-1"
                               type="checkbox"
                               autocomplete="off"
                               onchange="document.querySelectorAll('[name={{ ('"' ~ field_name(view.massActionFormView.ids) ~ '[]"')|escape('html_attr') }}]').forEach(checkbox => { checkbox.checked = this.checked; })"
                        >
                        {{ 'f0ska.autogrid.action.select_all'|trans }}
                    </label>
                </li>
            </ul>
        </div>
        {{ form_end(view.massActionFormView) }}
    </th>
{% endif %}
