{% import attributes.template.icons|default(ag_template('icons')) as ag_icons %}
{% set linkClass = attributes.html_class.thead_link|default('link-secondary') %}
{% set linkClassActive = attributes.html_class.thead_link_active|default('link-primary') %}

{% block autogrid_grid_column_header_sort %}
    {% if (attribute(request.order ?? {}, field.name) is not defined) or attribute(request.order, field.name) is same as null %}
        {% block autogrid_grid_column_header_sort_none %}
            <a class="{{ linkClass }}"
               href="{{ ag_run(agActionUrl, 'grid', {'order': {(field.name): 'asc'}}) }}"
               title="{{ 'f0ska.autogrid.button.sort'|trans }}"
               aria-label="{{ 'f0ska.autogrid.button.sort'|trans }}"
            >{{ ag_icons.sort_neutral() }}</a>
        {% endblock %}
    {% elseif attribute(request.order, field.name) is same as 'asc' %}
        {% block autogrid_grid_column_header_sort_asc %}
            <a class="{{ linkClassActive }}"
               href="{{ ag_run(agActionUrl, 'grid', {'order': {(field.name): 'desc'}}) }}"
               title="{{ 'f0ska.autogrid.button.sort'|trans }}"
               aria-label="{{ 'f0ska.autogrid.button.sort'|trans }}"
            >{{ ag_icons.sort_asc() }}</a>
        {% endblock %}
    {% else %}
        {% block autogrid_grid_column_header_sort_desc %}
            <a class="{{ linkClassActive }}"
               href="{{ ag_run(agActionUrl, 'grid', {'order': {(field.name): null}}) }}"
               title="{{ 'f0ska.autogrid.button.sort'|trans }}"
               aria-label="{{ 'f0ska.autogrid.button.sort'|trans }}"
            >{{ ag_icons.sort_desc() }}</a>
        {% endblock %}
    {% endif %}
{% endblock %}
