{{ form_start(form) }}
<div class="container-fluid">
    <div class="row">
        {% for fieldset in view.fieldset.defined %}
            {% block autogrid_fieldset_form_card %}
                <div class="col {{ fieldset.class|default('col-12') }} mb-3">
                    <section class="h-100 border rounded bg-light px-4 py-3">
                        {% block autogrid_fieldset_form_header %}
                            <h5 class="h6 text-dark font-weight-bold mb-3 pb-2 border-bottom">
                                {{ fieldset.name|trans }}
                            </h5>
                        {% endblock %}
                        {% block autogrid_fieldset_form_body %}
                            <div>
                                {% for fieldName in fieldset.fields %}
                                    {% if attribute(form, fieldName) is defined %}
                                        {{ form_row(attribute(form, fieldName)) }}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endblock %}
                    </section>
                </div>
            {% endblock %}
        {% endfor %}
        {% if view.fieldset.not_defined %}
            {% block autogrid_fieldset_form_no_fieldset %}
                <div class="col mt-2">
                    {% for fieldName in view.fieldset.not_defined %}
                        {% if attribute(form, fieldName) is defined %}
                            {{ form_row(attribute(form, fieldName)) }}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endblock %}
        {% endif %}
    </div>
</div>

{{ form_end(form) }}
