{% import attributes.template.icons|default(ag_template('icons')) as ag_icons %}
{% set isFilterActive = (attribute(request.filter ?? {}, field.name) is defined) and attribute(request.filter, field.name) is not same as null %}
{% set linkClass = attributes.html_class.thead_link|default('link-secondary') %}
{% set linkClassActive = attributes.html_class.thead_link_active|default('link-primary') %}
{% block autogrid_grid_column_header_filter %}

    {% block autogrid_grid_column_header_filter_icon %}
        <a class="{{ isFilterActive ? linkClassActive : linkClass }} dropdown-toggle"
           href="#"
           role="button"
           data-toggle="dropdown"
           aria-expanded="false"
           data-reference="parent"
        >{{ isFilterActive ? ag_icons.filter_active() : ag_icons.filter() }}</a>
    {% endblock %}
    {% block autogrid_grid_column_header_filter_dropdown %}
        <div class="dropdown-menu p-2 fw-normal" onclick="event.stopPropagation();">
            {% set form = attribute(view.filterFormViews, field.name) %}
            {% if view.formThemes is not empty %}
                {% form_theme form with view.formThemes %}
            {% endif %}
            {{ form_start(form) }}
            {% block autogrid_grid_column_header_filter_form_fields %}
                {% if field.attributes.range_filter is defined %}
                    {% for searchField in attribute(form, field.name).children %}
                        {{ form_widget(searchField, {'attr': {'placeholder': field_label(searchField)}}) }}
                        {{ loop.first ? '<div class="mb-2"></div>' }}
                    {% endfor %}
                {% else %}
                    {{ form_widget(attribute(form, field.name)) }}
                {% endif %}
            {% endblock %}
            {{ form_rest(form) }}
            {{ form_end(form) }}
            {% block autogrid_grid_column_header_filter_buttons %}
                <div class="btn-group w-100 mt-2" role="group">
                    <button type="submit"
                            form="{{ form.vars.attr.id }}"
                            class="btn btn-sm btn-outline-primary w-50"
                    >
                        {{- 'f0ska.autogrid.button.submit'|trans -}}
                    </button>
                    <a class="btn btn-sm btn-outline-secondary w-50 {% if not isFilterActive %}disabled{% endif %}"
                       href="{{ ag_run(agActionUrl, 'grid', {'filter': {(field.name): null}}) }}"
                    >
                        {{- 'f0ska.autogrid.button.reset'|trans -}}
                    </a>
                </div>
            {% endblock %}
        </div>
    {% endblock %}

{% endblock %}
