{% import attributes.template.icons|default(ag_template('icons')) as ag_icons %}
{% if ag_run(agIsAnyAllowed) or attributes.has_custom_action is defined %}
    {% set btnClass = attributes.html_class.tbody_btn|default('btn-outline-secondary') %}
    <td class="{{ attributes.html_class.action_column_value|default('text-right text-nowrap pt-0 pb-0 align-middle') }}">
        <div class="d-inline-flex align-items-center py-1" role="group">
            {% block autogrid_grid_row_action_view %}
                {% if ag_run(agIsAllowed, 'view') and attributes.button.view.display_in_grid %}
                    <a class="btn {{ btnClass }} btn-sm mr-1"
                       href="{{ ag_run(agActionUrl, 'view', {'id': entity.id}) }}"
                       title="{{ 'f0ska.autogrid.button.view'|trans }}"
                       aria-label="{{ 'f0ska.autogrid.button.view'|trans }}"
                    >{{ ag_icons.view() }}</a>
                {% endif %}
            {% endblock %}
            {% block autogrid_grid_row_action_edit %}
                {% if ag_run(agIsAllowed, 'edit') and attributes.button.edit.display_in_grid %}
                    <a class="btn {{ btnClass }} btn-sm mr-1"
                       href="{{ ag_run(agActionUrl, 'edit', {'id': entity.id}) }}"
                       title="{{ 'f0ska.autogrid.button.modify'|trans }}"
                       aria-label="{{ 'f0ska.autogrid.button.modify'|trans }}"
                    >{{ ag_icons.edit() }}</a>
                {% endif %}
            {% endblock %}
            {% block autogrid_grid_row_action_delete %}
                {% if ag_run(agIsAllowed, 'delete') and attributes.button.delete.display_in_grid and view.deleteActionFormView %}
                    <button class="btn {{ btnClass }} btn-sm"
                       type="submit"
                       form="{{ view.deleteActionFormView.vars.attr.id }}"
                       name="{{ view.deleteActionFormView.id.vars.full_name }}"
                       value="{{ entity.id }}"
                       onclick="return confirm('{{ 'f0ska.autogrid.dialog.delete_confirm'|trans }}');"
                       title="{{ 'f0ska.autogrid.button.delete'|trans }}"
                       aria-label="{{ 'f0ska.autogrid.button.delete'|trans }}"
                    >{{ ag_icons.delete() }}</button>
                {% endif %}
            {% endblock %}
            {% block autogrid_grid_row_custom_action %}{% endblock %}
        </div>
    </td>
{% endif %}
