{% extends attributes.template.base|default(ag_template('base')) %}
{% block autogrid %}
    <div class="{{ attributes.html_class.table|default('w-full overflow-x-auto rounded-lg shadow-sm') }}">
        {% block autogrid_view_caption %}
            {% if attributes.title is not empty %}
                <div class="text-center text-secondary h4 mb-3 text-xl">
                    {{ attributes.title|trans }}
                </div>
            {% endif %}
        {% endblock %}

        {% block autogrid_view_header %}
            {% set btnClass = 'text-gray-700 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-900 font-medium leading-5 text-sm px-3 py-2 focus:outline-none rounded-base' %}
            {% set btnDelClass = 'text-white bg-red-700 hover:bg-red-800 font-medium leading-5 text-sm px-3 py-2 focus:outline-none rounded-base' %}
            <div class="{{ attributes.html_class.thead|default('flex items-center justify-between px-6 py-3 bg-gray-50 border-b') }}">
                <div class="inline-flex rounded-base shadow-xs -space-x-px" role="group">
                    {% block autogrid_view_header_back_button %}
                        {% if ag_run(agIsAllowed, 'grid') %}
                            <a class="{{ btnClass }} rounded-s-base" href="{{ ag_run(agActionUrl, 'grid') }}">
                                {{ ag_icon('arrow-left')|raw }}&nbsp;{{ 'f0ska.autogrid.button.back'|trans }}
                            </a>
                        {% endif %}
                    {% endblock %}
                </div>
                <div class="flex items-center">
                    {% block autogrid_view_header_title %}
                        <span class="px-3 py-2 text-gray-600 bg-gray-100 rounded-base text-sm font-normal">
                            {{ ('f0ska.autogrid.action.' ~ action)|trans }}&nbsp;{{ ag_icon('id')|raw }}{{ entity.id }}
                        </span>
                    {% endblock %}
                </div>
                <div class="inline-flex rounded-base shadow-xs -space-x-px" role="group">
                    {% block autogrid_view_header_edit_button %}
                        {% if ag_run(agIsAllowed, 'edit') and attributes.button.edit.display_in_view %}
                            <a class="{{ btnClass }} rounded-s-base" href="{{ ag_run(agActionUrl, 'edit') }}">
                                {{ ag_icon('edit')|raw }}&nbsp;{{ 'f0ska.autogrid.button.modify'|trans }}
                            </a>
                        {% endif %}
                    {% endblock %}
                    {% block autogrid_view_header_delete_button %}
                        {% if ag_run(agIsAllowed, 'delete') and attributes.button.delete.display_in_grid %}
                            <a class="{{ btnDelClass }} rounded-e-base"
                               href="{{ ag_run(agActionUrl, 'delete', {'id': entity.id}) }}"
                               onclick="return confirm('{{ 'f0ska.autogrid.dialog.delete_confirm'|trans }}');"
                            >
                                {{ ag_icon('delete')|raw }}&nbsp;{{ 'f0ska.autogrid.button.delete'|trans }}
                            </a>
                        {% endif %}
                    {% endblock %}
                </div>
            </div>
        {% endblock %}

        {% block autogrid_view_body %}
            <div class="{{ attributes.html_class.tbody|default('bg-white') }}">
                {% if view.fieldset.defined %}
                    {{ include(attributes.template.fieldset.view|default(ag_template('fieldset.view'))) }}
                {% else %}
                    <table class="w-full text-sm text-left text-gray-500">
                        <tbody class="bg-white border-b">
                            {% for field in fields %}
                                {% if field.permissions.view %}
                                    {% block autogrid_view_body_row %}
                                        <tr class="hover:bg-gray-50">
                                            {% block autogrid_view_body_row_label %}
                                                <th class="px-6 py-3 text-right text-xs text-gray-700 uppercase bg-gray-50 w-1/3">
                                                    {{ field.attributes.label|trans }}
                                                </th>
                                            {% endblock %}
                                            {% block autogrid_view_body_row_value %}
                                                <td class="px-6 py-3">
                                                    {% set agView = field|ag_prepare(entity) %}{{ include(agView.template, agView.variables) }}
                                                </td>
                                            {% endblock %}
                                        </tr>
                                    {% endblock %}
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        {% endblock %}

        {% block autogrid_view_footer %}
            <div class="{{ attributes.html_class.tfoot|default('flex justify-end px-6 py-3 bg-gray-50 border-t') }}">
                <a class="text-gray-700 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-900 font-medium leading-5 text-sm px-3 py-2 focus:outline-none rounded-base"
                   href="#{{ attributes.container_id }}"
                >{{ ag_icon('arrow-up')|raw }}</a>
            </div>
        {% endblock %}
    </div>
{% endblock %}
