{% extends '%theme%/base.html.twig'|agTheme %}
{% block autogrid %}
    <table class="table caption-top {{ attributes.html_classes.table|default('') }}">
        {% block autogrid_grid_caption %}
            <caption class="text-center">
                {% if attributes.title is not empty %}
                    {{ attributes.title|trans }}
                {% endif %}
            </caption>
        {% endblock %}

        {% block autogrid_grid_header %}
            <thead class="{{ attributes.html_classes.thead|default('') }}">
            <tr>
                {% for field in fields %}
                    {{ include('%theme%/grid/column_header.html.twig'|agTheme) }}
                {% endfor %}
                {{ include('%theme%/grid/column_header_action.html.twig'|agTheme) }}
            </tr>
            </thead>
        {% endblock %}

        {% block autogrid_grid_footer %}
            <tfoot class="{{ attributes.html_classes.tfoot|default('table-group-divider') }}">
            <tr>
                <td colspan="{{ (fields|length) + (agRun(agIsAnyAllowed) ? 1 : 0) }}">
                    <div class="row">
                        <div class="col col-3 text-start align-middle pt-1">
                            <b>{{ 'f0ska.autogrid.total'|trans }}: {{ view.pagination.count }}</b>
                        </div>
                        <div class="col col-6 text-center">
                            {{ include('%theme%/grid/grid_pager.html.twig'|agTheme) }}
                        </div>
                        <div class="col col-3 text-end">
                            {{ include('%theme%/grid/grid_number_per_page.html.twig'|agTheme) }}
                            <a class="btn btn-sm {{ attributes.html_classes.tfootBtn|default('btn-outline-secondary') }}"
                               href="#{{ attributes.container_id }}"
                            ><i class="bi bi-chevron-up"></i></a>
                        </div>
                    </div>
                </td>
            </tr>
            </tfoot>
        {% endblock %}

        {% block autogrid_grid_body %}
            <tbody class="{{ attributes.html_classes.tbody|default('table-group-divider') }}">
            {% for entity in rows %}
                {% block autogrid_grid_row %}
                    <tr class="{{ include(attributes.row_class_template|default('%theme%/grid/row_class.html.twig'|agTheme)) }}">
                        {% for field in fields %}
                            {{ include('%theme%/grid/column_value.html.twig'|agTheme) }}
                        {% endfor %}
                        {{ include('%theme%/grid/column_value_action.html.twig'|agTheme) }}
                    </tr>
                {% endblock %}
            {% endfor %}
            </tbody>
        {% endblock %}
    </table>
{% endblock %}
