{% extends '%theme%/base.html.twig'|agTheme %}
{% block autogrid %}
    <table class="table caption-top">
        {% block autogrid_view_caption %}
            <caption class="text-center">
                {% if attributes.title is not empty %}
                    {{ attributes.title|trans }}
                    <span class="badge rounded-pill text-bg-secondary"><span
                            class="fw-normal">{{ ('f0ska.autogrid.action.' ~ action)|trans }}</span>  <i
                            class="bi bi-hash"></i> {{ entity.id }}</span>
                {% endif %}
            </caption>
        {% endblock %}

        {% block autogrid_view_header %}
            {% set btnClass = attributes.html_classes.theadBtn|default('btn-outline-secondary') %}
            <thead class="{{ attributes.html_classes.thead|default('') }}">
            <tr>
                <td class="text-nowrap h4 align-middle" colspan="2">
                    <div class="row">
                        <div class="col col-6 text-start">
                            {% if agRun(agIsAllowed, 'grid') %}
                                <a class="btn btn-sm {{ btnClass }}" href="{{ agRun(agActionUrl, 'grid') }}">
                                    <i class="bi bi-chevron-left"></i>
                                    {{ 'f0ska.autogrid.button.back'|trans }}
                                </a>
                            {% endif %}
                        </div>
                        <div class="col col-6 text-end">
                            {% if agRun(agIsAllowed, 'edit') and attributes.edit_button_in.view %}
                                <a class="btn btn-sm btn-warning" href="{{ agRun(agActionUrl, 'edit') }}">
                                    <i class="bi bi-pencil-square"></i>
                                    {{ 'f0ska.autogrid.button.modify'|trans }}
                                </a>
                            {% endif %}
                            {% if agRun(agIsAllowed, 'delete') and attributes.delete_button_in.grid %}
                                <a class="btn btn-sm btn-danger"
                                   href="{{ agRun(agActionUrl, 'delete', {'id': entity.id}) }}"
                                   onclick="return confirm('{{ 'f0ska.autogrid.dialog.delete_confirm'|trans }}');"
                                >
                                    <i class="bi bi-trash"></i>
                                    {{ 'f0ska.autogrid.button.delete'|trans }}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </td>
            </tr>
            </thead>
        {% endblock %}

        {% block autogrid_view_footer %}
            <tfoot class="{{ attributes.html_classes.tfoot|default('table-group-divider') }}">
            <tr>
                <td colspan="2">
                    <div class="row">
                        <div class="col text-end">
                            <a class="btn btn-sm {{ attributes.html_classes.tfootBtn|default('btn-outline-secondary') }}"
                               href="#{{ attributes.container_id }}"
                            ><i class="bi bi-chevron-up"></i></a>
                        </div>
                    </div>
                </td>
            </tr>
            </tfoot>
        {% endblock %}

        {% block autogrid_view_body %}
            <tbody class="{{ attributes.html_classes.tbody|default('table-group-divider') }}">
            {% if view.fieldset.defined %}
                <tr>
                    <td colspan="2" class="ps-0 pe-0">
                        {{ include('%theme%/fieldset/view.html.twig'|agTheme) }}
                    </td>
                </tr>
            {% else %}
                {% for field in fields %}
                    {% if field.permissions.view %}
                        <tr>
                            <th class="col col-4 text-end table-light">
                                {{ field.attributes.label|trans }}
                            </th>
                            <td class="col col-8">
                                {{ include(field.view.template|agTheme) }}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endif %}
            </tbody>
        {% endblock %}
    </table>
{% endblock %}
